@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan',sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  width:100%;
}

/*Scrollbar CSS*/

 /* width */
 ::-webkit-scrollbar {
	width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #b99835; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #b99835; 
  }


h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 64px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-size: 12px;
  font-weight: 700;
}
p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}


.section-p1{
  padding:40px 80px;
}
.section-m1{
  margin:40px 0;
}


#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6FE;
  box-shadow: 5px 5px 10px #3f3d3d;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}
#header .logo{
  width: 80px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  padding:0 20px ;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:#1a1a1a ;
  transition: 0.3s ease;
}
#navbar li a:hover{
  color: #b99835;
}
#navbar li a:hover,
#navbar li a.active{
  color: #b99835;
}
#navbar li a svg{
  font-size:22px;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width:40%;
  height: 3px;
  background: #b99835;
  position: absolute;
  bottom: -8px;
  left: 20px;
}
.burger{
  display: none;
  align-items: center;
}
#navbar.active{
  right:0px;
}





/*Carousel CSS*/
#hero{
  padding: 5px;
}
#hero img{
  height: 50vh;
  width: 90%;
  display: block;
  border-radius: 30px;
  margin: 10px auto;
}





#categories{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


#categories .cgty_box{ 
  width: 180px;
  text-align: center;
  padding:25px 15px ;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border:1px solid #cce7d3 ;
  border-radius: 4px;
  margin:15px 20px;
}

#categories .cgty_box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

#categories .cgty_box img{
  margin-bottom: 10px;
  width: 150px;
}

#categories .cgty_box h6{
  display: inline-block;
  margin-top: 10px;
  padding:9px 8px 6px 8px ;
  line-height: 1;
  border-radius: 4px;
  color: #cce7d3;
  background-color: #b99835;
}







#featuredProducts{
  text-align: center;
}
#featuredProducts .feat_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
#featuredProducts .feat_box {
  width:270px;
  height: 470px;
  /* max-width: 290px; */
  /* padding: 10px 12px; */
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:20px 20px 30px rgba(0, 0, 0, 0.02) ;
  margin: 15px;
  transition: 0.2s ease;
}
#featuredProducts .feat_box img{
  width: 190px;
  height: 290px;

  border-radius: 20px;
}
#featuredProducts .feat_box:hover{
  box-shadow:20px 20px 30px rgba(54, 51, 51, 0.09) ;
}
#featuredProducts .feat_box .desc{
  text-align: center;
  padding: 10px 0;
}
#featuredProducts .feat_box .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#featuredProducts .feat_box .desc h4{
  padding-top: 7px;
  color: #b99835;
  font-weight: 700;
  font-size: 15px;
}
#featuredProducts .feat_box svg{
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  height: 40px;
  color: #b99835;
  font-weight: 500;
}











#newProducts{
  text-align: center;
}
#newProducts .new_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}


#newProducts .new_box{
  width: 300px;
  box-shadow: 2px 2px 10px rgba(122,122,122,0.9);
  cursor: pointer;
  border-radius: 20px;
  padding: 9px;
  margin: 9px;
  height: 310px;
  height: 360px;
}

#newProducts .new_box img{
  /* width: 70%; */
  height: 200px;
  border-radius: 20px;
}

#newProducts .new_box .desc{
  text-align: center;
  padding: 10px 0;
}
#newProducts .new_box .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  margin: 3px;
}









#relatedProducts{
  margin-top: 5rem;
  text-align: center;
}
#relatedProducts .related_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}
.related_box_parent{
  width: 20%;
  position: relative;
  height: 300px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:20px 20px 30px rgba(0, 0, 0, 0.02) ;
  margin: 15px 5px;
  transition: 0.3s ease;
  /* position: relative; */
}
#relatedProducts .related_box .viewBtn {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom:15px;
  left: 5px;
  right: 5px;
  /* display: block; */
  /* margin: 0 auto; */
  background-color: #b99835;
  border-radius: 20px;
  padding: 9px;
  color: #cce7d0;
}
#relatedProducts .related_box img{
  /* width: 70%; */
  max-height: 190px;
  border-radius: 20px;
}
#relatedProducts .related_box_parent:hover{
  box-shadow:20px 20px 30px rgba(54, 51, 51, 0.09) ;
  /* border: 2px solid #b99835; */
  border-radius: 25px;
}
#relatedProducts .related_box .desc p{
  text-align: center; 
}




/*CSS LOADER ANIMATION*/
.verifyh3 {
  text-align: center;
  margin-top: 200px;

}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  left: 50%;
  margin:0 auto;
  box-sizing: border-box;
  border: 32px solid #09ff00;
  border-color: #e60000 transparent #f30000 transparent;
  animation: lds-hourglass 1.9s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}









#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url('https://www.hdnicewallpapers.com/Walls/Big/Sunset/Tropical_Sunset_Background_Wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline:none ;
}
#newsletter button{
  padding:10px;
  background-color: #b99835;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
}





footer{
  margin-top: 20px;
  background: #000216;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
footer .flogo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
  color: white;
}
footer p{
  font-size: 13px;
  color: #b99835;
  margin: 0 0 8px 0;
}
footer a{
  color: white;
  text-decoration: none;
  padding: 5px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow svg{
  color: #b99835;
  cursor: pointer;
  margin: 5px;
}
footer a:hover{
  color: #a39770;
}



















#allProducts{
  text-align: center;
}
#allProducts .all_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}
#allProducts .all_box {
  width: 23%;
  max-height: 700px;
  min-width: 250px;
  padding: 20px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:20px 20px 30px rgba(0, 0, 0, 0.02) ;
  margin: 15px 0;
  transition: 0.2s ease;
}
#allProducts .all_box img{
  width: 100%;
  max-height: 350px;
  border-radius: 20px;
}
#allProducts .all_box:hover{
  box-shadow:20px 20px 30px rgba(54, 51, 51, 0.09) ;
}
#allProducts .all_box .desc{
  text-align: center;
  padding: 10px 0;
}
#allProducts .all_box .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#allProducts .all_box .desc h4{
  padding-top: 7px;
  color: #b99835;
  font-weight: 700;
  font-size: 15px;
}

#allProducts .all_box a{
  padding: 10px;
  background-color: #b99835;
  border: none;
  border-radius: 20px;
  color: #cce7d0;
  text-decoration: none;
}


/* 
.sproduct .row .mpimage{
  width: 250px;
} */

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex:0 0  25%;
  cursor: pointer;
  /* display: none; */
}
.small-img{
  width: 120px;
  height: 150px;
}
.mainImage{
  height: 500px;
  width: 400px;
}
.sproduct select{
    display: block;
    padding: 5px 10px;
}
.buy-btn{
  background-color: #b99835;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: 0.9s all;
}
.buy-btn:hover{
  background-color: #000216;
}




.wishlistContainer{
  display: block;
  margin: 20px auto;
  background-color: #000216;
  width: 50%;
  padding: 10px;
  border-radius: 30px;
}
.wishlistContainer h3{
  color: #b99835;
  text-shadow: 1px 1px 2px white;
  text-align: center;
}
.wishlistContainer img{
  width: 200px;
  display: block;
  margin:0 auto ; 
}

main.table {
  width: 82vw;
  height: 90vh;
  background-color: #000216;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  display: block;
  margin: 10px auto;
  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #ebc474;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table__header h3{
  margin-top: 20px;
  text-align: center;
  display: block;
  margin: 0 auto; 
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color : #b99835;
  
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}



thead th:hover {
  color: #6c00bd;
}



thead th.active,
tbody td.active {
  color: #6c00bd;
}






















.finalImage{
  width: 400px;
  border-radius: 10px;
}

.contact_container {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:rgba(0,0,0,0.8) ;
} 

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} 



 .section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}



@media (max-width: 991px) {
  .contact_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
  } 



@media (max-width:799px){
  .finalImage{
    width: 200px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #000216;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #navbar li a svg{
    font-size: 25px;
    /* color: white ; */
  }
  #navbar li a {
    font-size: 15px;
    color: white;
  }
  .burger{
    display: flex;
    align-items: center;
    font-size: 27px;
  }
  #close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #f6f6f6;
    font-size: 34px;
  }
  #hero{
    /* height: 50vh; */
    padding: 10px 0;
  }
  #hero img{
    /* width: 200px; */
    height: 200px;
  }
  #header .logo{
    width: 40px;
  }
  #newsletter .form{
    width: 70%;
  }
  #categories .cgty_box {
    width: 140px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #cce7d3;
    border-radius: 4px;
    margin: 9px 16px;
}
#categories .cgty_box img{
  width: 100px;
}
#categories{
  padding: 0;
}
.p-desc h6{
  margin-top: 10px;
}
.mainImage{
  height: 300px;
  width: 270px;
}

table thead tr th:first-child , tbody tr td:first-child  {
  display: none;
}

.buy-btn{
  margin: 5px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.small-img-col {
  flex:0 0  2%;
  cursor: pointer;
  /* display: none; */
}

#newProducts .new_box {
  width: 180px;
  box-shadow: 2px 2px 10px rgba(122,122,122,0.9);
  cursor: pointer;
  border-radius: 20px;
  padding: 9px;
  margin: 5px;
  height: 310px;
  height: 212px;
}
#newProducts .new_box img {
  /* width: 70%; */
  height: 120px;
  border-radius: 20px;
}
#newProducts .new_box .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 9px;
  margin: 3px;
}
#newProducts .new_box .desc h5:nth-child(2) {
  display: none;
}


#featuredProducts .feat_box {
  width: 270px;
  height: 440px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.2s ease;
}
#featuredProducts .feat_box img {
  width: 190px;
  height: 290px;
  border-radius: 20px;
}
#featuredProducts .feat_box svg {
  display: none;
}


}

@media (max-width:539px){
  #newProducts .new_box {
    width: 110px;
    box-shadow: 2px 2px 10px rgba(122,122,122,0.9);
    cursor: pointer;
    border-radius: 20px;
    padding: 9px;
    margin: 3px;
    /* height: 310px; */
    height: 198px;
}
  #newProducts .new_box img {
    /* width: ; */
    height: 80px;
    /* border-radius: 20px; */
  }
  #newProducts .new_box .desc h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 9px;
    margin: 3px;
  }
  #newProducts .new_box .desc h5:nth-child(2) {
    display: none;
  }
}